body{
    background-color: grey;
}
.heading{
    color: black;
    font-size: 6rem;
    font-family: 'Ephesis', cursive;
    text-align: center;
    

}
.pics{
    width: 100%;
    height: auto;
}

#image1{

    background-image: url(https://cdn.wionews.com/sites/default/files/styles/story_page/public/2021/01/19/179061-peaky-blinders.jpg);
    width: 300px;
    height: 300px;
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
}
#image2{
    background-image: url(https://swzd.com/wp-content/uploads/2019/11/Peak3.jpg);
    width: 300px;
    height: 300px;
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
}
#image1:hover{
    cursor: pointer;
    transform: scale(3);
}
